
body {
    background-color: #F8F8F8;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2em;
    margin: 15px;
    text-align: center;
}

#mainContainer {
    margin-left: auto;
    margin-right: auto;
    display: inline-block
}
#toolbar{
    height: 25px;
    margin-bottom: 0px;
    width: auto;
    display: block
}
#tb1{
    text-align: left;
    float: left;
    margin-bottom: 0px;
    padding-bottom: 0px;
    width: 50%;
    display: inline-block;
}
#tb1 button{
    height: 25px;
    border-radius: 5px 5px 0px 0px;
    border:1px solid #ccc;
    border-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 0px;

}
#tb2 {
    text-align: right;
    float: right;
    display: inline-block;
    width: 50%;
}
#tb2 input{
    text-align: center;
    width: 50px;
    height: 20px;
    border-radius: 5px 5px 5px 5px;
    border:1px solid #ccc;
    margin-bottom: 0px;
    margin-right: 0px;

}
#tb2 input[type=color]{
    width: 20px;
}
canvas{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    border:1px solid #ccc;
    margin-top: 0px;
    margin-bottom: 0px;
    cursor:crosshair;
}
#pictureSize{
    text-align: center;
    width: 100px;
    border-radius: 0px 0px 5px 5px;
    border:1px solid #ccc;
    border-top:0px;
    margin-top: 0px;
    float: left;
}
#blackscreen{
    display:none;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color:black;
    opacity:0.5;
    
}
#popup{
    display:none;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 2000;
    width: 200px;
    background-color:white;
    font-size: 12px;
    color: #202020;
    border:1px solid #ccc;
    border-radius: 5px;
}
#popup p{
    margin:0px;
    margin-bottom: 1px;
    font-weight: bold;
    background-color: #EEEEEE;
    border-bottom:1px solid #ccc;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
}
#popup input{
    text-align: center;
    width: 4em;
}